body {
  background-color: pink;
}

#nav-menu-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction:row;
  flex-direction: row;
  justify-content: center;
  align-items:flex-start;
}

#nav-menu {
flex-direction: row;
}

.nav-menu-item {
flex-direction: column;
}

#title {
  color: red;
  text-align: center;
{

/*tag - article, div, body, head, p*/
